bs4
chart-studio
dash
dash-bootstrap-components
dash-canvas
dash-core-components
dash-daq
dash-extensions
dash-html-components
dash-iconify
dash-mantine-components
dash-table
dash-tools
dask
Django
Flask
Flask-Caching
Flask-Compress
Flask-RESTful
h5py
html5lib
matplotlib
matplotlib-inline
matplotlib-venn
numpy
opencv-python
pandas
Pillow
plotly
scikit-image
scikit-learn
scikit-survival
scipy
seaborn
pybase64